/**
 * Created by Besian Krasniqi on 04/13/15
 * email: besian@bksofteng.com
 * website: www.bksofteng.com
 */

body {
    font-family: Arial, Helvetica, Arial, sans-serif;
    font-size: 12pt;
}

div.main-wrapper {
    width: 800px;
    overflow: hidden;
    margin: 30px auto 0 auto;
}

button.calculate-words {
    width: 100%;
    height: 35px;
    float: left;
    color: #131313;
    font-weight: bold;
    background-color: #CCCCCC;
    margin: 5px 0 0 0;
}
textarea.txt-area {
    width: 100%;
    height: 350px;
    float: left;
    color: #d9d9d9;
    background-color: #3a3a3a;
    margin: 5px 0 0 0;
}

div.count-fields {
    width: 100%;
    height: 20px;
    line-height: 20px;
    float: left;
    padding: 5px;
    color: #272727;
    font-size: 11pt;
    background-color: #d5d5d5;
    margin: 3px 0 0 0;
}

.all-output {
    width: 100%;
    overflow: hidden;
    line-height: 20px;
    float: left;
    margin: 15px 0 0 0;
    color: #272727;
    padding: 10px;
    font-size: 11pt;
    display: none;
    border: 1px solid #898989;
    background-color: #CCCCCC;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}