

#main {
    width: 500px;
    height: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff9b33;
}

#button1 {
    width: 80px;
    height: 100px;
    background-color: #ff8627;
    cursor: pointer;
    cursor: hand;
}